[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
argparse = "*"
pytest = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"
pycodestyle = "*"
pylint = "*"
pytest-cov = "*"
invoke = "*"
responses = "*"

[requires]
python_version = "3"
